<div class="flex flex-col gap-8">
    <div class="flex flex-col gap-1">
        <h4 class="text-[#3A4374] font-bold text-xl">In-Progress ({{inProgressFeedbacks.length}})</h4>
        <span class="text-gray">Currently being developed</span>
    </div>
    @for(feedback of inProgressFeedbacks; track feedback.id) {
        <div class="flex flex-col gap-4">
            @if(feedback.status === 'in-progress'){
                <app-card [feedback]="feedback" feedbackType="in-progress" />
            }
        </div>
    }
</div>
