<div class="flex flex-col gap-14 px-6 md:px-10 lg:px-24 xl:px-32 py-8 md:py-10">
    <div class="rounded-lg bg-[#373F68] flex items-center justify-between px-8 h-[7rem]">
        <div class="flex flex-col gap-1">
            <p-button (onClick)="goBack()" styleClass="flex items-center justify-center gap-2 text-white ring-0 outline-none hover:underline transition-all duration-300 ease-linear">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                    <path d="M4.33447 9L0.334473 5L4.33447 1" stroke="#FFFFFF" stroke-width="2"/>
                  </svg>
                  <span>Go Back</span>
            </p-button>
            <span class="text-white text-2xl font-bold">Roadmap</span>
        </div>
        <p-button [link]="true" [routerLink]="['/add-feedback']" styleClass="outline-none ring-0 flex items-center justify-center px-5 py-2 text-button-white bg-primary rounded-lg gap-2">
        <app-plus-icon color="#F2F4FE" />
            <span class="hidden sm:inline-block">Add Feedback</span>
        </p-button>
    </div>
    <section class="con overflow-y-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-14 md:gap-6 lg:gap-10">
        <app-planned />
        <app-in-progress />
        <app-live />
    </section>
</div>
