<section class="mx-auto flex w-[90vw] flex-col py-6 md:py-8 md:gap-6 lg:py-10 lg:flex-row">
  <app-sidebar (menuToggle)="menuToggle($event)" />
  <div class="relative flex min-h-[70vh] w-full flex-col gap-6">
    <app-suggestions-header />

    @if (loading$ | async) {
    <app-loading />
    }

    <!-- Feedback data  -->
    @if (feedbacks.length && !(loading$ | async)) {
      <div
        class="flex max-h-[75vh] flex-col gap-5 overflow-y-auto py-2 pr-2"
      >
        @for (feedback of feedbacks; track feedback.id) {
          <app-feedback-card [isDetailsPage]="true" [feedback]="feedback" />
        }
      </div>
    }

    <section
      class="flex flex-col items-center justify-center rounded-lg bg-white"
    >
      @if (!feedbacks.length && !(loading$ | async)) {
        <div class="flex flex-col items-center gap-10 my-[10vh]">
          <app-no-feedback />
          <div class="w-[11rem]">
            <app-button
              (onClick)="addFeedback()"
              backgroundColor="#AD1FEA"
            >
              <div class="flex items-center gap-2">
                <app-plus-icon color="#F2F4FE" />
                <span>Add Feedback</span>
              </div>
            </app-button>
          </div>
        </div>
        
      }
    </section>
    <ng-container *ngIf="isMenuAppear">
      <app-menu />
    </ng-container>
  </div>
</section>
