<section class="mx-auto flex w-[90vw] flex-col md:gap-6 lg:flex-row">
  <app-sidebar (menuToggle)="menuToggle($event)" />
  <div class="relative flex min-h-[70vh] w-full flex-col gap-6">
    <app-suggestions-header />

    @if (loading$ | async) {
    <app-loading />
    }

    <!-- Feedback data  -->
    @if ((feedbacks$ | async)?.length && !(loading$ | async)) {
      <div
        class="flex h-[70vh] flex-col gap-5 overflow-y-auto py-2 pr-2 sm:h-[58vh] lg:h-[70vh]"
      >
        @for (feedback of feedbacks$ | async; track feedback) {
          <app-feedback-card [feedback]="feedback" />
        }
      </div>
    }

    <section
      class="flex flex-col items-center justify-center rounded-lg bg-white"
    >
      @if (!(feedbacks$ | async)?.length && !(loading$ | async)) {
        <div class="my-[5vh] flex flex-col items-center gap-10 md:my-[10vh]">
          <app-no-feedback />
          <div class="w-[11rem]">
            <app-button
              (onClick)="addFeedback($event)"
              backgroundColor="#AD1FEA"
            >
              <div class="flex items-center gap-2">
                <app-plus-icon color="#F2F4FE" />
                <span>Add Feedback</span>
              </div>
            </app-button>
          </div>
        </div>
        
      }
    </section>
    <ng-container *ngIf="isMenuAppear">
      <app-menu />
    </ng-container>
  </div>
</section>
