<section class="flex flex-col w-[90vw] mx-auto lg:flex-row md:gap-6">
        <app-sidebar />
    <div class="flex flex-col gap-6 w-full h-full min-h-[70vh]">
        <app-suggestions-header></app-suggestions-header>
        <section class="flex items-center justify-center bg-white rounded-lg">
            <div *ngIf="feedbacks.length; else noFeedback"></div>
           <ng-template #noFeedback >
            <div class="flex flex-col gap-10 items-center my-[5vh] lg:my-[12vh]">
                <app-no-feedback />
                <div class="w-[11rem]">
                    <app-button (onClick)="addFeedback($event)" backgroundColor="#AD1FEA">
                        <div class="flex items-center gap-2">
                            <app-plus-icon color="#F2F4FE" />
                            <span>Add Feedback</span>
                        </div>
                    </app-button>
                </div>
                </div>
           </ng-template>
            
        </section>
    </div>
</section>
