@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/saga-blue/theme.css";

@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

.p-menu-list  {
    @apply divide-y divide-[#3A4374]/20
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
      border-radius: 6px;
      background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  }
  
  ::-webkit-scrollbar-thumb {
  @apply bg-[#3A4374] hover:opacity-80 transition-all duration-300 ease-linear rounded-lg;
  }
  
